<div class="row">
    <div class="col-md-push-2 col-md-8 junmbotron">
        <form role="form" novalidate>
            <div class="form-group">
                <label for="signupName">Name</label>
                <input type="text" class="form-control" id="signupName" name="name" placeholder="Enter your Name" required>
            </div>
            <div class="form-group">
                <label for="signupEmail">Email address</label>
                <input type="email" class="form-control" id="signupEmail" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="signupPwd">Email address</label>
                <input type="password" class="form-control" id="signupPwd" name="password" placeholder="Choose a Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>