<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>org.example.listener.NetworkServiceInitializer</listener-class>
    </listener>

    <listener>
        <listener-class>org.simple.auth.shadow.listener.InMemoryRepositoryServiceInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>authorizationCallbackServlet</servlet-name>
        <servlet-class>org.simple.auth.shadow.servlet.ShadowCallbackServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>authorizationRedirectServlet</servlet-name>
        <servlet-class>org.simple.auth.shadow.servlet.ShadowRedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>protectedResourceServlet</servlet-name>
        <servlet-class>org.example.servlet.ProtectedResourceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fakeAuthorizationServlet</servlet-name>
        <servlet-class>org.simple.auth.fakeoauth.servlet.FakeOAuthProviderAuthorizationServlet</servlet-class>
        <init-param>
            <param-name>clientId</param-name>
            <param-value>fake_client_id</param-value>
        </init-param>
        <init-param>
            <param-name>clientSecret</param-name>
            <param-value>fake_client_secret</param-value>
        </init-param>
        <init-param>
            <param-name>redirectUri</param-name>
            <param-value>http://localhost:8088/oauth2Callback</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>

    </servlet>

    <servlet>
        <servlet-name>fakeAccessTokenServlet</servlet-name>
        <servlet-class>org.simple.auth.fakeoauth.servlet.FakeOAuthProviderAccessTokenServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fakeProfileServlet</servlet-name>
        <servlet-class>org.simple.auth.fakeoauth.servlet.FakeOAuthProviderProfileServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>shadowTokenFilter</filter-name>
        <filter-class>org.simple.auth.shadow.filter.ShadowTokenFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>shadowTokenFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>


    <servlet-mapping>
        <servlet-name>authorizationCallbackServlet</servlet-name>
        <url-pattern>/oauth2Callback</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>authorizationRedirectServlet</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protectedResourceServlet</servlet-name>
        <url-pattern>/api/protected</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>fakeAuthorizationServlet</servlet-name>
        <url-pattern>/fake_auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fakeAccessTokenServlet</servlet-name>
        <url-pattern>/fake_access_token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fakeProfileServlet</servlet-name>
        <url-pattern>/fake_provider/profile</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>